* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3C3C3B;
    display: flex;
    height: 80px;
    align-items: center;
    font-weight: bold;
    font-size: 12px;

    position: fixed;
    top:0px;
    right:0px;
    left: 0px;
    z-index: 1000;
}

.left {
    display: flex;
    align-items: center;
    flex:2;
}

.middle {
    flex: 1;
    min-width: 20px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
    flex:1;
}

.logo {
    height:80px;
}

.logo:hover {
    cursor: pointer;
}

.navbar-btn {
    padding-right: 15px;
    padding-left: 15px;
    height: 80px;
    align-items: center;
    display: flex;
}

.navbar-btn:hover {
    background-color: rgb(90, 88, 88);
    cursor: pointer;
}

.navbar-logo {
    height:25px;
    margin-right: 10px;
}

.video {
    max-width: 1335px;
    flex:1
}

.video-container {
    padding-bottom: 80px;
    background-color: #141414;
    display: flex;
    justify-content: center;
}

.car-container {
    display: flex;
    padding-right: 67px;
    padding-left: 67px;
    padding-bottom: 100px;
    padding-top: 67px;
    justify-content: space-between;
}

.right-car {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-left: 20px;
    justify-content: center;
}

.left-car {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-right: 14px;
    justify-content: center;
}

.car-pics {
    width:100%;
    max-width:100%;
    height: auto;
    transition: opacity 0.4s;
    position: relative;
    z-index: 1;
    flex:1;
}

.car-pics:hover{
    opacity: 0.85;
    cursor: pointer;
    
}

.carname {
    padding-top:15px;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 2px;
}

.desc {
    font-size: 12px;
}

.design-btn, .learn-btn {
    margin-top: 20px;
    width:170px;
    height: 45px;
    background-color: #3C3C3B;
    color: white;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.4s, border-width 0.4s, border-color 0.4s, border-style 0.4s;
}

.design-btn:hover, .learn-btn:hover {
    background-color: black;
    border-style: solid;
    border-color: white;
    cursor:pointer;
    border-width: 1px;
}

.explore-btn, .options-btn {
    font-size: 12px;
    font-weight: bold;
    margin-top:20px;
}

.explore-btn:hover, .options-btn:hover {
    cursor: pointer;
}

.explore-text {
    margin-left: 5px;
}

.explore-text:hover {
    text-decoration: underline;
}

.racecar-container{
    padding: 67px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.racecar {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.team-name {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.team-info {
    display: flex;
    flex-direction: row;
}

.team-desc {
    margin-left: 100px;
    font-size: 12px;
}


.learn-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 350px ;
}

.options-container {
    display: flex;
    flex:1;
    height: 175px;
}

.individual-container-1, .individual-container-2, .individual-container-3, .individual-container-4 {
    display: flex;
    flex-direction: column;
    flex:1;
    border-left: 1.5px solid white; 
    padding-left: 40px;
    padding-top: 30px;
}

.logos {
    height: 45px;
    width: 45px;
}

.individual-container-1 {
    padding-left: 80px;
    border:none;
}

.individual-container-1:hover,.individual-container-2:hover,.individual-container-3:hover,.individual-container-4:hover{
    text-decoration: underline;
}

.options-btn {
    font-size: 15px;
}

.options-container:hover {
    cursor: pointer;
}

.options-desc {
    font-size: 12px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .options-desc {
        display: none;
    }

    .learn-btn {
        display: none;
    }
}
.end {
    background-color:#3C3C3B;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding-top: 67px;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 67px;
    padding-right: 120px;
    line-height: 25px;
}



.headings {
    font-weight: bold;
    font-size: 10px;
}

.socials {
    font-size: 12px; 
    display: inline-block; 
    vertical-align: middle; 
}

.social-logos {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px; 
}

.column4 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
}

.searchbar {
    width: 500px;
    margin-left: 67px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;

}

.search {
    margin-left: 20px;
    height: 45px;
    background-color: #3C3C3B;
    border: none;
    width: 500px;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

input {
    color: white;
}

.info {
    margin-left: 67px;
    margin-top: 40px;
    line-height: 12px;
    margin-bottom: 50px;
    margin-right: 67px;
}

